{% extends 'base.html' %}

{% block title %}About — Beau Martinez{% endblock %}

{% block content %}
    <meta name=description content="About Beau Martinez">

    <article>
        <h1 class=title>Hi, I'm Beau</h1>

        <p>I'm a {{ age }}-year–old programmer based in London. I've been programming since I was 14

        <p>I build web apps
        
        <p>I'm passionate about the web. I love data, web scraping, and building hypermedia APIs

        <p>I prefer back-end programming—but I like variety

        <p>I advocate simple, readable, best-practices code; and rapid prototyping

        <p>My language of choice is Python. I like to use Flask for simple apps and Django for complex ones

        <p>Have a look at my <a href=http://github.com/beaumartinez>work</a> and feel free to <a href="mailto:beau@beaumartinez.com?subject=Hi">get in touch</a>
    </article>
{% endblock %}
