{% extends 'base.html' %}

{% block title %}About — Beau Martinez{% endblock %}

{% block extra_head %}
    <meta name=description content="About Beau Martinez">
{% endblock %}

{% block content %}
    <article>
        <h1 class=title>Hi, I'm Beau <span class=hidden>Martinez</span></h1>

        <p>I'm a London-based backend developer.

        <p>I specialise in web apps and web services, and have a particular interest in web scraping.

        <p>I have a no-bullshit approach to software projects. I advocate simple, readable, best-practices code, and rapid prototyping.

        <p>My languages of choice are Python and JavaScript.

        <p>I'm on <a href=http://github.com/beaumartinez>GitHub</a>, <a href=http://twitter.com/beaumartinez>Twitter</a>, and <a href=mailto:beau@beaumartinez.com>email</a>. Get in touch!
    </article>
{% endblock %}
