{% extends 'base.html' %}

{% block title %}About — Beau Martinez{% endblock %}

{% block content %}
    <meta name=description content="About Beau Martinez">

    <article>
        <h1 class=title>Hi, I'm Beau <span class=hidden>Martinez</span></h1>

        <p>I'm a London-based back-end programmer with {{ years_programming }} years experience

        <p>I specialize in web apps and services, and have particular interest in RESTful APIs and web scraping

        <p>I have a no-bullshit approach to software projects. I advocate simple, readable, best-practices code and rapid prototyping

        <p>My language of choice is Python

        <p>Have a look at <a href=http://github.com/beaumartinez>my work</a> and feel free to <a href="mailto:beau@beaumartinez.com?subject=Hi">get in touch</a>
    </article>
{% endblock %}
