a {
    color: inherit;
}

body {
    background: url('/static/images/square_bg.png');
    font-family: "open sans", helvetica, arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-left: 24px;
    margin-right: 24px;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
h5,
b,
strong {
    font-weight: 400;
}

#container {
    visibility: hidden;
}

.hidden {
    display: none;
}

.title {
    margin-top: 24px;
}

.wf-active #container,
.wf-inactive #container {
    visibility: visible;
}

@media(min-width: 768px) {
    body {
        margin-left: auto;
        margin-right: auto;
        max-width: 720px;
    }
}

/* Nav shit */

nav {
    display: block;
    padding-bottom: 48px;
    padding-top: 24px;
}

nav a.site-name {
    display: block;
    float: left;
}

nav .nav {
    float: right;
}

nav ul {
    display: inline;
    list-style: none;
    margin: inherit;
}

nav ul li {
    display: inline;
}
